@font-face {
  font-family: 'icomoon';
  src: url('./icons/icomoon.eot?6ql5l1');
  src: url('./icons/icomoon.eot?6ql5l1#iefix') format('embedded-opentype'),
    url('./icons/icomoon.ttf?6ql5l1') format('truetype'),
    url('./icons/icomoon.woff?6ql5l1') format('woff'),
    url('./icons/icomoon.svg?6ql5l1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}