// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$beige-medium: #bdbdbd;

$green-dark: #283618;
$green-light: #606c38;
$cream: #fefae0;
$sand-light: #dda15e;
$sand-dark: #bc6c25;

// Update Bulma's global variables
$family-serif: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
$family-sans-serif: "MS Sans Serif", "Geneva", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;

$grey-dark: #202124;
$grey-light: $beige-light;
$primary: $green-light;
$link: $sand-light;
$background: $grey-dark;
$text: $beige-medium;
$tabs-link-hover-color: $sand-light;
$tabs-link-focus-color: $sand-light;
$button-hover-color: $sand-light;
$button-focus-color: $sand-light;
$avatar-background: #363636;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

$tooltip-background: #161616f2;
$tooltip-border: #0000001a;

$chip-hover-background: #00000033;

$overlay-background: #161616f2;
$overlay-border: #0000001a;
