@import "./colors.module.scss";

.news {
  padding-right: 2rem;
  > div > article {
    > h2 {
      margin-top: 0rem,
    }
    margin: 1.2rem 0;
    padding: 2rem;
    &:nth-child(odd) {
      background: $tooltip-background;;
    }
    > time {
      font-size: 0.8rem;
    }
  }
}

.release_button_icon {
  margin-right: 0.5rem;
}
