@import './colors.module.scss';

.modalTitleWrapper {
  display: flex;
  justify-content: space-between;

  * > .modalButton {
    height: 1rem;
    margin-left: 0.5rem;
  }
  span > :last-child {
    margin-right: 1rem;
  }
}

.galleryWrapper, .galleryModal {
  display: flex;
  flex-direction: column;
  figure {
    text-align: center;
    > figcaption {
      font-size: 0.7rem;
    }
    .image {
      border: 2px solid $sand-light;
      &.highlight {
        cursor: zoom-in;
      }
    }
  }
  > div {
    display: flex;
    justify-content: center;
    &:last-child {
      margin-top: 1rem;
      >button {
        margin: 0 1rem;
      }
    }
  }
}
