@import "./colors.module.scss";

.modalTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  * > .modalButton {
    margin-left: 0.5rem;
  }
  span > :last-child {
    margin-right: 1rem;
  }
}

.galleryWrapper,
.galleryModal {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding-bottom: 2rem;
  figure {
    text-align: center;
    height: 100%;
    > figcaption {
      font-size: 0.7rem;
    }
    img {
      max-height: 100%;
      width: auto;
      object-fit: contain;
      border: 2px solid $sand-light;
      &.highlight {
        cursor: zoom-in;
      }
    }
    video {
      border: 2px solid $sand-light;
      max-height: 100%;
      width: auto;
      object-fit: contain;
      &.highlight {
        cursor: zoom-in;
      }
    }
  }
  > div {
    display: flex;
    justify-content: center;
    &:last-child {
      margin-top: 2rem;
      > button {
        margin: 0 1rem;
      }
    }
  }
}
