.container {
  margin: 1.5rem 0;
  align-self: center;
}

.welcome {
  > a {
    margin: 1rem 0.5rem 0 0;
  }
}

.news {
  > div > article {
    margin-bottom: 1.2rem;
    > time {
      font-size: 0.8rem;
    }
  }
}