@import "~bulma/sass/utilities/mixins";
@import "./colors.module.scss";

.container {
  margin: 1.5rem 0;
  @include from(769px) {
    display: flex;
    align-items: center;
  }
}

.hero {
  @include from(769px) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 52px -  46px - 1.5rem - 1rem);
    justify-content: center;
  }
}

.alternate {
  background: $tooltip-background;
  padding: 1rem 1rem 3rem 1rem;
  @include from(769px) {
    padding: 0rem 1rem 2rem 1rem;
  }
}

.column {
  @include until(768px) {
    margin-bottom: 2rem;
  }

  @include from(769px) {
    padding: 1.5rem;
  }

  margin: 1rem 0;

  > a {
    margin: 1rem 0.5rem 0 0;
  }
}

.middleAlign {
  align-self: center;
}

.centerAlign {
  text-align: center;
}
