.main {
  min-height: calc(100vh - 52px);
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.li {
  font-size: 0.8rem;
  margin-top: 1rem;

  .label {
    margin-left: 0.5rem;
  }
}
